{% load static %}
<nav class="pcoded-navbar">
  <div class="pcoded-inner-navbar main-menu">
      <div class="pcoded-navigatio-lavel">Navigation</div>
      <ul class="pcoded-item pcoded-left-item">
          <li class="active">
              <a href="javascript:void(0)">
                  <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                  <span class="pcoded-mtext">Dashboard</span>
              </a>
          </li>
          <li class>
              <a href="navbar-light.html">
                  <span class="pcoded-micon"><i class="feather icon-menu"></i></span>
                  <span class="pcoded-mtext">Navigation</span>
              </a>
          </li>
      </ul>
      <div class="pcoded-navigatio-lavel">Ticket Information</div>
      <ul class="pcoded-item pcoded-left-item">
          <li class=" ">
              <a href="animation.html">
                  <span class="pcoded-micon"><i
                          class="feather icon-aperture rotate-refresh"></i><b>A</b></span>
                  <span class="pcoded-mtext">Animations</span>
              </a>
          </li>
          <li class=" ">
              <a href="sticky.html">
                  <span class="pcoded-micon"><i class="feather icon-cpu"></i></span>
                  <span class="pcoded-mtext">Sticky Notes</span>
                  <span class="pcoded-badge label label-danger">HOT</span>
              </a>
          </li>
      </ul>
      <div class="pcoded-navigatio-lavel">Settings</div>
      <ul class="pcoded-item pcoded-left-item"> 
          <li class=" ">
              <a href="form-picker.html">
                  <span class="pcoded-micon"><i class="feather icon-edit-1"></i></span>
                  <span class="pcoded-mtext">Settings</span>
                  <span class="pcoded-badge label label-warning">NEW</span>
              </a>
          </li>
      </ul>

      <div class="pcoded-navigatio-lavel">Support</div>
      <ul class="pcoded-item pcoded-left-item">
          <li class>
              <a href="http://html.codedthemes.com/Adminty/doc" target="_blank">
                  <span class="pcoded-micon"><i class="feather icon-monitor"></i></span>
                  <span class="pcoded-mtext">Documentation</span>
              </a>
          </li>
          <li class>
              <a href="#" target="_blank">
                  <span class="pcoded-micon"><i class="feather icon-help-circle"></i></span>
                  <span class="pcoded-mtext">Submit Issue</span>
              </a>
          </li>
      </ul>
  </div>
</nav>