{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Help Desk | Home {% endblock %}
{% block page %}Dashboard{% endblock %}
{% block page_logo %}dashboard{% endblock %}
{% block nav_home_class %}active{% endblock %}
{% block content %}
<div class="page-wrapper">

    <div class="page-header">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <div class="d-inline">
                        <h4>Profile Timeline</h4>
                        <span>lorem ipsum dolor sit amet, consectetur adipisicing
                            elit</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="page-header-breadcrumb">
                    <ul class="breadcrumb-title">
                        <li class="breadcrumb-item" style="float: left;">
                            <a href="https://demo.dashboardpack.com/adminty-html/index.html">
                                <i class="feather icon-home"></i> </a>
                        </li>
                        <li class="breadcrumb-item" style="float: left;"><a href="#!">User Profile</a>
                        </li>
                        <li class="breadcrumb-item" style="float: left;"><a href="#!">Profile Timeline</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="page-body">
        <div class="row">
            <div class="col-sm-12">
                <div>
                    <div class="content social-timeline">
                        <div class>

                            <div class="row">
                                <div class="col-md-12">

                                    <div class="social-wallpaper">
                                        <img src="{% static 'assets/images/social/img1.jpg' %}"
                                            class="img-fluid width-100" alt />
                                        <div class="profile-hvr">
                                            <i class="icofont icofont-ui-edit p-r-10"></i>
                                            <i class="icofont icofont-ui-delete"></i>
                                        </div>
                                    </div>


                                    <div class="timeline-btn">
                                        <a href="#" class="btn btn-primary waves-effect waves-light m-r-10">follows</a>
                                        <a href="#" class="btn btn-primary waves-effect waves-light">Send
                                            Message</a>
                                    </div>

                                </div>
                            </div>


                            <div class="row">
                                <div class="col-xl-3 col-lg-4 col-md-4  ">

                                    <div class="social-timeline-left">

                                        <div class="card">
                                            <div class="social-profile">
                                                <img class="img-fluid width-100"
                                                    src="{{ user.profiledetails.image.url }}" alt>
                                                <div class="profile-hvr m-t-15">
                                                    <i class="icofont icofont-ui-edit p-r-10"></i>
                                                    <i class="icofont icofont-ui-delete"></i>
                                                </div>
                                            </div>
                                            <div class="card-block social-follower">
                                                <h4>{{ user.first_name }} {{ user.last_name }}</h4>
                                                <h6>{{ user.username }}</h6>
                                                <h5>{{ user.profiledetails.jobs }}</h5>
                                                <div class="row follower-counter">
                                                    <div class="col-4">
                                                        <button class="btn btn-primary btn-icon" data-toggle="tooltip"
                                                            data-placement="top" title="485"><i
                                                                class="icofont icofont-user-alt-3"></i></button>
                                                    </div>
                                                    <div class="col-4">
                                                        <button class="btn btn-danger btn-icon" data-toggle="tooltip"
                                                            data-placement="top" title="2k"><i
                                                                class="icofont icofont-like"></i></button>
                                                    </div>
                                                    <div class="col-4">
                                                        <button class="btn btn-success btn-icon" data-toggle="tooltip"
                                                            data-placement="top" title="90"><i
                                                                class="icofont icofont-eye-alt"></i></button>
                                                    </div>
                                                </div>
                                        
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="card-header-text">Who to
                                                    follow</h5>
                                            </div>
                                            <div class="card-block user-box">
                                                <div class="media m-b-10">
                                                    <a class="media-left" href="#!">
                                                        <img class="media-object img-radius"
                                                            src="{% static 'assets/images/avatar-1.jpg' %}"
                                                            alt="Generic placeholder image" data-toggle="tooltip"
                                                            data-placement="top" title="user image">
                                                        <div class="live-status bg-danger">
                                                        </div>
                                                    </a>
                                                    <div class="media-body">
                                                        <div class="chat-header">
                                                            Josephin Doe</div>
                                                        <div class="text-muted social-designation">
                                                            Softwear Engineer</div>
                                                    </div>
                                                </div>
                                                <div class="media m-b-10">
                                                    <a class="media-left" href="#!">
                                                        <img class="media-object img-radius"
                                                            src="{% static 'assets/images/avatar-2.jpg' %}"
                                                            alt="Generic placeholder image" data-toggle="tooltip"
                                                            data-placement="top" title="user image">
                                                        <div class="live-status bg-success">
                                                        </div>
                                                    </a>
                                                    <div class="media-body">
                                                        <div class="chat-header">
                                                            Josephin Doe</div>
                                                        <div class="text-muted social-designation">
                                                            Softwear Engineer</div>
                                                    </div>
                                                </div>
                                                <div class="media m-b-10">
                                                    <a class="media-left" href="#!">
                                                        <img class="media-object img-radius"
                                                            src="{% static 'assets/images/avatar-3.jpg' %}"
                                                            alt="Generic placeholder image" data-toggle="tooltip"
                                                            data-placement="top" title="user image">
                                                        <div class="live-status bg-danger">
                                                        </div>
                                                    </a>
                                                    <div class="media-body">
                                                        <div class="chat-header">
                                                            Josephin Doe</div>
                                                        <div class="text-muted social-designation">
                                                            Softwear Engineer</div>
                                                    </div>
                                                </div>
                                                <div class="media m-b-10">
                                                    <a class="media-left" href="#!">
                                                        <img class="media-object img-radius"
                                                            src="{% static 'assets/images/avatar-2.jpg' %}"
                                                            alt="Generic placeholder image" data-toggle="tooltip"
                                                            data-placement="top" title="user image">
                                                        <div class="live-status bg-success">
                                                        </div>
                                                    </a>
                                                    <div class="media-body">
                                                        <div class="chat-header">
                                                            Josephin Doe</div>
                                                        <div class="text-muted social-designation">
                                                            Softwear Engineer</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                



                                    </div>

                                </div>
                                <div class="col-xl-9 col-lg-8 col-md-8">

                                    <div class="page-wrapper">

                                        <div class="page-header">
                                            <div class="row align-items-end">
                                                <div class="col-lg-8">
                                                    <div class="page-header-title">
                                                        <div class="d-inline">
                                                            <h4>Profile Details</h4>
                                                            <span>You can update your profile from here</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="page-body">
                                            <div class="row">
                                                <div class="col-sm-12">

                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h5>Inputs Validation</h5>
                                                            <span>Add class of <code>.form-control</code> with
                                                                <code>&lt;input&gt;</code> tag</span>
                                                        </div>
                                                        <div class="card-block">
                                                            <form method="POST" class="form-horizontal" enctype="multipart/form-data">
                                                                {% csrf_token %}
                                                                <div class="form-group row">
                                                                    <div class="col-sm-12">
                                                                        {{ u_form|crispy }}
                                                                        {{ p_form|crispy }}
                                                                        <span class="messages"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <div class="col-sm-12">
                                                                        <button type="submit"
                                                                            class="btn btn-primary m-b-0">Submit</button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>




                                              


                                             

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}