{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="#">
<meta name="keywords"
    content="flat ui, admin Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
<meta name="author" content="#">

<link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:200,200,200" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/icon/feather/css/feather.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/jquery.mCustomScrollbar.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/ekko-lightbox/dist/ekko-lightbox.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/lightbox2/dist/css/lightbox.css' %}">
<link rel="stylesheet" type="text/css"
    href="{% static 'assets/pages/advance-elements/css/bootstrap-datetimepicker.css' %}">
<link rel="stylesheet" type="text/css"
    href="{% static 'bower_components/bootstrap-daterangepicker/daterangepicker.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/datedropper/datedropper.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/icon/themify-icons/themify-icons.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/icon/icofont/css/icofont.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/pages/social-timeline/timeline.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/pages/data-table/css/buttons.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}">