{% load static %}
<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/popper.js/dist/umd/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/modernizr/modernizr.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/modernizr/feature-detects/css-scrollbars.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/chart.js/dist/Chart.js' %}"></script>
<script src="{% static 'assets/pages/widget/amchart/amcharts.js' %}"></script>
<script src="{% static 'assets/pages/widget/amchart/serial.js' %}"></script>
<script src="{% static 'assets/pages/widget/amchart/light.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/SmoothScroll.js' %}"></script>
<script src="{% static 'assets/js/pcoded.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'assets/js/vartical-layout.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/pages/dashboard/analytic-dashboard.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/script.js' %}"></script>