{% load static %}
<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/popper.js/dist/umd/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/modernizr/modernizr.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/modernizr/feature-detects/css-scrollbars.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/chart.js/dist/Chart.js' %}"></script>
<script src="{% static 'assets/pages/widget/amchart/amcharts.js' %}"></script>
<script src="{% static 'assets/pages/widget/amchart/serial.js' %}"></script>
<script src="{% static 'assets/pages/widget/amchart/light.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/SmoothScroll.js' %}"></script>
<script src="{% static 'assets/js/pcoded.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'assets/js/vartical-layout.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/pages/dashboard/analytic-dashboard.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/script.js' %}"></script>

{% comment %} New Link {% endcomment %}
<script data-cfasync="false" src="{% static 'cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/ekko-lightbox/ekko-lightbox.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/lightbox2/dist/js/lightbox.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/pages/advance-elements/moment-with-locales.min.js' %}"></script>
<script type="text/javascript"
    src="{% static 'bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
<script type="text/javascript"
    src="{% static 'assets/pages/advance-elements/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript"
    src="{% static 'bower_components/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/datedropper/js/datedropper.min.html' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/i18next/i18next.min.js' %}"></script>
<script type="text/javascript"
    src="{% static 'bower_components/i18next-xhr-backend/i18nextXHRBackend.min.js' %}"></script>
<script type="text/javascript"
    src="{% static 'bower_components/i18next-browser-languagedetector/i18nextBrowserLanguageDetector.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/jquery-i18next/jquery-i18next.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/pages/social-timeline/social.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
