{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}Help Desk | Home{% endblock %}
{% block page %}Change Password{% endblock %}
{% block page_logo %}key{% endblock %}
{% block content %}

<div class="page-wrapper">
    <div class="page-header">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <div class="d-inline">
                        <h4>Change Password</h4>
                        <span>Change Your Password Here</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="page-header-breadcrumb">
                    <ul class="breadcrumb-title">
                        <li class="breadcrumb-item" style="float: left;">
                            <a href="../index.html"> <i class="feather icon-home"></i> </a>
                        </li>
                        <li class="breadcrumb-item" style="float: left;"><a href="#!">Form-Components</a>
                        </li>
                        <li class="breadcrumb-item" style="float: left;"><a href="#!">Form-Elements-Advance</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="page-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <span>Follow the password rules, Please!</span>
                    </div>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="body">
                                    <form method="POST" class="form-horizontal">
                                        {% csrf_token %}
                                        <div class="form-group">{{ form|crispy }}</div>
                                        <button class="btn hor-grd btn-grd-success" type="submit">Update Password</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}