{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}HelpDesk | Login{% endblock %}</title>
    {% include '_partials/_includes/_css.html' %}
</head>

<body class="fix-menu">
    {% include '_partials/_loader.html' %}
    <section class="login-block">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <form method="POST" class="md-float-material form-material">
                        {% csrf_token %}

                        <div class="text-center">
                            <img src="{% static 'assets/images/logo.png' %}" alt="logo.png">
                        </div>
                        <div class="auth-box card">
                            <div class="card-block">
                                <div class="row m-b-20">
                                    <div class="col-md-12">
                                        <h3 class="text-center">Sign In</h3>
                                    </div>
                                </div>

                                <div class="form-group form-primary">{{ form|crispy }}</div>

                                <div class="row m-t-25 text-left">
                                    <div class="col-12">
                                        <div class="checkbox-fade fade-in-primary d-">
                                            <label>
                                                <input type="checkbox" value>
                                                <span class="cr"><i
                                                        class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                                <span class="text-inverse">Remember me</span>
                                            </label>
                                        </div>
                                        <div class="forgot-phone text-right f-right">
                                            <a href="auth-reset-password.html" class="text-right f-w-600">Forgot
                                                Password?</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-t-30">
                                    <div class="col-md-12">
                                        <button type="submit"
                                            class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20">Sign
                                            in</button>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-10">
                                        <p class="text-inverse text-left m-b-0">Thank you.</p>
                                        <p class="text-inverse text-left">Not an account?<a href="{% url 'registration' %}"><b
                                                    class="f-w-600"> Sing Up</b></a></p>
                                    </div>
                                    <div class="col-md-2">
                                        <img src="{% static 'assets/images/auth/Logo-small-bottom.png' %}"
                                            alt="small-logo.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    {% include '_partials/_includes/_js.html' %}
</body>

</html>