{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}HelpDesk | Home{% endblock %}</title>

    {% include '_partials/_includes/_css.html' %}
</head>

<body>

    {% include '_partials/_loader.html' %}

    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            {% include '_partials/_nav.html' %}

            {% include '_partials/_unknown.html' %}

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    {% include '_partials/_sidebar.html' %}

                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">

                                {% block content %}{% endblock %}
                                
                                <div id="styleSelector">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include '_partials/_includes/_js.html' %}
</body>

</html>